/* Fonts Imported from Google Fonts */
@import url("https://fonts.googleapis.com/css2?family=Lato:wght@300&family=Nunito:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;0,1000;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900;1,1000&family=Oswald:wght@200;300;400;500;600;700&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

/* font-family: 'Lato', sans-serif;
font-family: 'Nunito', sans-serif;
font-family: 'Oswald', sans-serif;
font-family: 'Poppins', sans-serif; */

/* Variables to make changes easier */
:root {
  --primarycolor: #18280d;
  --secondary-color: #7c3626;
  --thirdcolor: #f5853f;
  --fourthcolor: #f7f3e3;
}

/* Resets */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

li {
  list-style-type: none;
}

#menu li:hover {
  background-color: #f5853f;
}

/* General and Utility Styles - Should not change */
body {
  background-color: var(--secondary-color);
  overflow-x: hidden;
  font-family: "Poppins", sans-serif;
  color: var(--fourthcolor);
}

.button {
  background-color: var(--thirdcolor);
  border: 2px solid var(--secondary-color);
  color: var(--fourthcolor);
  padding: 6px 16px;
  text-transform: uppercase;
  box-shadow: 1px 2px 1px rgba(0, 0, 0, 0.6);
  display: inline-block;
  border-radius: 20px;
}

.button:hover {
  background-color: var(--primarycolor);
  color: var(--fourthcolor);
}

h1,
h2,
h3,
h4 {
  color: var(--fourthcolor);
}

p,
li,
a,
label {
  color: var(--fourthcolor);
  font-weight: 300;
}

a {
  text-decoration: none;
}

.hidden {
  display: none;
}

.logo-image {
  width: 70px;
  height: auto;
  padding: 5px 0px;
}

/* Site Nav Style */

header {
  background-color: var(--primarycolor);
  padding: 0 2rem;
  position: sticky;
  top: 0;
  z-index: 99;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 2px solid var(--thirdcolor);
}

nav {
  position: absolute;
  background-color: var(--primarycolor);
  width: 100%;
  padding: 5px;
  left: 0;
  box-shadow: 0 2px 2px var(--thirdcolor);
  display: none;
  top: 100%;
}

#nav-toggle:checked ~ nav {
  display: block;
}

#nav-toggle {
  display: none;
}

.nav-toggle-label {
  font-size: 2rem;
}

/* Hero Section Style */

#hero {
  background: url("../images/burger.jpg") center / cover;
  padding: 10px;
}

.hero .leading-text {
  font-size: 200%;
  margin-top: 200px;
  background-color: rgba(0, 0, 0, 0.6);
  padding: 8px;
  margin-bottom: 5px;
  max-width: 500px;
  border-top-right-radius: 10px;
  border-bottom-right-radius: 10px;
}

.hero .secondary-text {
  padding-top: 5px;
  padding-bottom: 10px;
}

.hero .button {
  width: fit-content;
}

/* Services Styles */

#services {
  color: var(--fourthcolor);
  padding: 20px;
  background-image: url("../images/service-bg.webp");
  background-size: cover;
}

.services-image-container {
  display: flex;
  justify-content: space-evenly;
}

.services {
  display: flex;
  flex-wrap: wrap;
  flex: 0 1 700px;
  justify-content: space-evenly;
  align-items: center;
  gap: 20px;
  /* border: 2px solid hotpink; */
  text-align: center;
  background-color: var(--primarycolor);
  box-shadow: 0px 6px 8px -2px rgba(255, 255, 255, 0.5);
  padding: 30px 0px;
  max-width: 100%;
  width: 100%;
  overflow: hidden;
  border-radius: 10px;
}

.services img {
  width: 250px;
  height: 300px;
  object-fit: cover;
  border-radius: 5px;
  border: 1px solid white;
  box-shadow: 0px 6px 8px -2px rgba(255, 255, 255, 0.2);
}

/* About Us Styles */

#about {
  padding: 20px;
  background: var(--primarycolor);
}

.about-img {
  display: none;
}

/* Contact Form Styles */

#contact {
  background: var(--primarycolor);
  color: var(--fourthcolor);
  padding: 20px;
  /* border: 2px solid hotpink; */
  overflow-wrap: break-word;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.contact-form {
  /* border: 2px solid hotpink; */
  padding: 5px;
  width: 100%;
}

.contact-form .button {
  display: block;
}

.text-input,
.input,
textarea {
  background-color: var(--fourthcolor);
  color: var(--primarycolor);
  border-radius: 5px;
  padding: 10px;
  width: 100%;
}

/* Footer Styles */

footer {
  padding: 5px;
}

#social-networks {
  text-align: center;
  padding: 5px 0;
  display: flex;
  justify-content: space-evenly;
  list-style-type: none;
}

#social-networks i {
  font-size: 160%;
  padding: 5%;
  color: var(--fourthcolor);
}

/* iFram for Maps Styles */

.iframe-container {
  align-content: center;
  max-width: 100%;
}

/* Media Queries */

@media screen and (min-width: 768px) {
  /* Nav Bar Styles */

  nav {
    display: block;
    position: relative;
    border: none;
    box-shadow: none;
    width: fit-content;
  }

  #menu {
    display: flex;
    justify-content: flex-end;
    /* border: 2px solid hotpink; */
    margin-right: 30px;
  }

  #menu a:hover {
    text-decoration: underline;
  }

  #menu li {
    padding: 10px;
    margin: 2px 2px 0px 2px;
    transition: 0.5s;
  }

  .nav-toggle-label {
    display: none;
  }

  /* Contact Us Styles */

  #contact {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 20px;
  }

  .contact-info {
    align-self: flex-start;
    flex-basis: 30%;
  }

  .contact-form {
    max-width: 60%;
    flex-grow: 1;
  }

  /* About Styles */

  .about {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
  }

  .about > * {
    flex: 1;
  }

  p {
    font-size: 110%;
  }

  .leading-text {
    align-self: flex-start;
  }

  .about-img {
    display: block;
    min-width: 200px;
    max-width: 500px;
    height: auto;
  }

  .about img {
    width: 100%;
    border-radius: 10%;
  }
}

@media screen and (min-width: 1200px) {
  /* Services Styles */

  .services {
    display: flex;
    flex-wrap: wrap;
    flex: 1 1 700px;
    justify-content: space-evenly;
    align-items: center;
    gap: 20px;
  }

  /* Nav Bar Styles */

  h1.hidden {
    display: flex;
    flex-grow: 1;
    padding-left: 10px;
  }
}
