/* Fonts Imported from Google Fonts */
@import url("https://fonts.googleapis.com/css2?family=Lato:wght@300&family=Nunito:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;0,1000;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900;1,1000&family=Oswald:wght@200;300;400;500;600;700&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

/* Variables to make color changes easier */
:root {
  --primary-color: #18280d;
  --secondary-color: #7c3626;
  --accent-primary-color: #f5853f;
  --accent-secondary-color: #f7f3e3;
  --white: #ffffff;
}

/* Resets */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* Main styles */

html {
  scroll-behavior: smooth;
  scroll-padding-top: 120px;
  font-size: 62.5%;
}

body {
  background-color: var(--secondary-color);
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  color: var(--accent-secondary-color);
  font-size: 1.6rem;
}

li {
  list-style-type: none;
  font-size: 1.2rem;
}

h1,
h2,
h3,
h4 {
  color: var(--accent-secondary-color);
  font-weight: 600;
}

h2 {
  position: relative;
}

p,
li,
a,
label {
  color: var(--accent-secondary-color);
  font-weight: 300;
}

a {
  text-decoration: none;
}

header {
  background-color: var(--primary-color);
  padding: 0 3rem;
  position: sticky;
  top: 0;
  z-index: 99;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 2px solid var(--accent-primary-color);
}

nav {
  position: absolute;
  background-color: var(--primary-color);
  width: 100%;
  padding: 0.5rem;
  left: 0;
  box-shadow: 0 2px 2px var(--accent-primary-color);
  display: none;
  top: 100%;
}

footer {
  padding: 0.5rem;
}

/* Setting the hover effect styles */

#menu li:hover {
  background-color: var(--accent-primary-color);
  border-top-right-radius: 2rem;
}

/* General and Utility Styles - Should not change */

.button {
  background-color: var(--accent-primary-color);
  border: 2px solid var(--secondary-color);
  color: var(--primary-color);
  padding: 0.5rem 1.5rem;
  text-transform: uppercase;
  box-shadow: 1px 2px 1px rgba(0, 0, 0, 0.6);
  display: inline-block;
  border-radius: 2rem;
  transition: 0.5s;
}

.button:hover {
  background-color: var(--primary-color);
  color: var(--accent-secondary-color);
  transition: 0.5s;
}

.hidden {
  display: none;
}

.logo-image {
  width: 7rem;
  height: auto;
  padding: 0.5rem 0;
  transition: width 0.5s ease;
}

/* Setting the collapsable nav section */
#nav-toggle:checked ~ nav {
  display: block;
}

#nav-toggle {
  display: none;
}

.nav-toggle-label {
  font-size: 3rem;
}

/* Hero Section Style */

#hero {
  background: url("../images/burger.webp") center / cover;
  padding: 1rem;
}

.hero .leading-text {
  font-size: 1rem;
  margin-top: 20rem;
  background-color: rgba(0, 0, 0, 0.6);
  padding: 0.8rem;
  margin-bottom: 0.5rem;
  max-width: 50rem;
  border-top-right-radius: 1rem;
  border-bottom-right-radius: 1rem;
}

.hero .secondary-text {
  padding-top: 0.5rem;
  padding-bottom: 1rem;
}

.hero .button {
  width: fit-content;
}

/* Services Styles */

#services {
  color: var(--accent-secondary-color);
  padding: 2rem 0;
  display: flex;
  justify-content: center;
  align-items: center;
  background-image: url(../images/service-bg.webp);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

.services-container {
  background-color: var(--primary-color);
  border-radius: 1rem;
  padding: 1em 0.5rem;
  width: 100%;
  max-width: 120rem;
  text-align: center;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.services-container h4 {
  font-size: 1.5rem;
  text-transform: uppercase;
  letter-spacing: 0.2rem;
}

.services-container p {
  font-size: 1rem;
}

.services-container div {
  padding: 1.5rem;
  border-bottom: 1px solid var(--accent-primary-color);
}

.services-container div:last-child {
  border: none;
}

.services-container img {
  width: 200px;
  height: 200px;
  object-fit: cover;
  border-radius: 0.5rem;
  border: 1px solid var(--white);
  box-shadow: 0px 6px 8px -2px rgba(255, 255, 255, 0.2);
}

/* About Us Styles */

#about {
  background-color: var(--primary-color);
  display: flex;
}

.about-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: auto;
}

.about-text {
  padding: 2.5rem;
}

.about-img-container {
  display: none;
}

.about-img-container img {
  overflow: hidden;
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 0.5rem;
}

/* Contact Form Styles */

#contact {
  background: var(--primary-color);
  color: var(--accent-secondary-color);
  padding: 2rem;
  overflow-wrap: break-word;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
}

.contact-form {
  padding: 5px;
  width: 100%;
}

.contact-form .button {
  display: block;
}

.text-input,
.input,
textarea {
  background-color: var(--accent-secondary-color);
  color: var(--primary-color);
  border-radius: 5px;
  padding: 1rem;
  width: 100%;
}

/* Footer Styles */

#social-networks {
  text-align: center;
  padding: 0.5rem 0;
  display: flex;
  justify-content: space-evenly;
  list-style-type: none;
}

#social-networks i {
  font-size: 2rem;
  padding: 5%;
  color: var(--accent-secondary-color);
}

/* iFrame for Maps Styles */

.iframe-container {
  align-content: center;
  max-width: 100%;
}

.iframe-googlemaps {
  width: 100%;
  height: 100%;
  border: none;
}

/* Styles for the thank you page  */

#thank-you-container {
  background-color: var(--primary-color);
  height: 100vh;
}

.thank-you {
  text-align: center;
  width: 60%;
  padding-top: 15%;
  margin: auto;
  font-size: 1.5rem;
}

.redirect {
  font-size: 0.8rem;
  color: var(--accent-primary-color);
}

/* Styles for the custom 404 page  */

#four04-container {
  background-color: var(--primary-color);
  height: 100vh;
}

.four04 {
  text-align: center;
  width: 60%;
  padding-top: 15%;
  margin: auto;
  font-size: 1.5rem;
}

.redirect {
  font-size: 0.8rem;
  color: var(--accent-primary-color);
}

/* Media Query for screens above 768px*/

@media screen and (min-width: 768px) {
  .hero .leading-text {
    font-size: 4rem;
  }
  /* Logo Style */

  .logo-image {
    width: 100px;
    height: auto;
    padding: 0.5rem 0;
  }

  /* Nav Bar Styles */

  nav {
    display: block;
    position: relative;
    border: none;
    box-shadow: none;
    width: fit-content;
  }

  #menu {
    display: flex;
    justify-content: flex-end;
    margin-right: 3rem;
  }

  #menu a:hover {
    text-decoration: underline;
  }

  #menu li {
    padding: 1rem;
    margin: 2px 2px 0px 2px;
    transition: 0.5s;
  }

  .nav-toggle-label {
    display: none;
  }

  /* Contact Us Styles */

  #contact {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 2rem;
    height: 60vh;
  }

  .contact-info {
    align-self: flex-start;
    flex-basis: 30%;
  }

  .contact-form {
    max-width: 40%;
    align-self: flex-start;
  }

  /* Service Section Styles */

  .services-container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    flex-wrap: wrap;
  }

  .services-container div {
    padding: 1.5rem;
    justify-content: space-evenly;
    flex-basis: 50%;
  }

  .services-container div:last-child {
    border-bottom: 1px solid var(--accent-primary-color);
  }

  /* About Section Styles */

  #about {
    height: 90vh;
  }

  .about-container {
    display: flex;
    flex-direction: row;
  }

  .about-text {
    max-width: 60%;
    padding: 2.5rem;
    font-size: 1.5rem;
    align-self: flex-start;
  }
  .about-img-container {
    display: block;
    flex: 1;
    align-self: flex-start;
    padding: 2.5rem;
    height: 80vh;
  }

  #maps {
    height: 40vh;
  }

  .iframe-container {
    align-content: center;
    max-width: 100%;
    height: 100%;
  }
}

/* Media Query for screens above 1200px*/

@media screen and (min-width: 1200px) {
  .hero .leading-text {
    font-size: 5rem;
    max-width: 80rem;
    margin-top: 25rem;
  }

  /* Nav Bar Styles */

  h1.hidden {
    display: flex;
    flex-grow: 1;
    padding-left: 1rem;
  }
}
